/*-------------- RESET --------------- */

/*html, body, div, span, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, a, article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

* {
    box-sizing: border-box;
}

main {
    display: block;
}*/



/* ------------- LAYOUT -------------*/
body {

    /*margin: 0 auto;*/
    background: #fdfdfd;
}

/*header{
    display: flex;
    justify-content: space-around;
}*/

.progress {
    border-radius: 0px;
}

.progress-bar {
    /*background: #000;*/
}


/*-------------- TYPOGRAPHY --------------*/

h1 {
    font-size: 1em;
}



/*--------- COLOUR SCHEME & BORDERS -------- */

body {

font-family: Arial, Helvetica, sans-serif;
}

#booking {
    background-image: url();
}



/* ------  NAVIGATION ---------*/

/*nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}



nav{
    background: #eee;
}

nav li {
    border-right: 1px solid #fefefe;
}


nav a{
    display:inline-block;
    padding:10px;
}*/

/*#booking {
    background: #ccc;
    width: 15em;
    height: 3em;
    padding: 1em 0.5em;
}

#booking-button {
    background: #eee;
    width: 15em;
    height: 3em;
    border-radius: 0.5em;
    padding: 1em 0.5em;
}*/


/* --------  IMAGES ------- */

img {
    width: 100%;
}

#trademark {
    width: 8em;
    height: 8em;
}


/*--------- media ---------*/





/*-------------------- MEDIA QUERIES ------------------*/




